.body-header {
    padding: 15px 0px;
    display: inline-block;
    width: 100%;
    background-color:#B53025;
    color: white;
}

.shaded {
    background-color: #edeff2;
}

.body-footer p {
    padding: 25px 0px;
    color: #545454;
}

.page-width {
    margin: 0% 15%;
    width: 70%;
}

li {
    list-style: none;
    display: inline-block;
}

body {
    margin: 0;
}

.body-header-nav a {
    text-decoration: none;
    color: white;
}

.search-box {
    background-color: white;
    float: right;
    padding: 5px 0px;
    border-radius: 20px;
    width: 20%;
}

.search-box i {
    color : white;
    background-color: #B53025;
    border-radius: 50%;   
}

.search-box input{
    background-color: white;
    border: 0;
    border-radius: 50px;
    width: 90%;
}

.main-content-nav {
    display: flex;
    background-color: #545454;
    padding: 12px 0px;
    justify-content: space-around;
    border-radius: 5px;
}

.main-content-nav a {
    color: white;
    text-decoration: none;
}

.main-content-nav a:hover {
    color: #B53025;
}

.main-content-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-space-evenly {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-end {
    align-self: flex-end;
}

.contact-us-form input, textarea {
    border: none;
    background-color: #edeff2;
    margin: 4px 0PX;
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 4px;
}

.contact-us-form-submit {
    color: #B53025;
    width: 40%;
}

.main-content-header-nav a {
    margin: 5px;
    color: #545454;
    text-decoration: none;
}

.main-content-header-nav a:hover {
    color: orange;
}

.col-6  {
    width: 50%;
    padding: 10px;
}

.col-4 {
    width: 33.33%;
    padding: 10px;
}

.col-3 {
    width: 25%;
    padding: 10px;
}

.col-2 {
    width : 16.66%;
    padding: 10px;
}

.col-10 {
    width: 83.33%;
    padding: 10px;
}

.col-9 {
    width: 75%; 
    padding: 10px;
}

.col-12 {
    width: 100%;
}

.custom-header-1 {
    display: block;
    font-size: 4em;
    margin : none;
    font-weight: bold;
}

.secondary-button {
    float: right;
    text-decoration: none;
    color: #B53025;
}

.font-shaded {
    color: #545454;
}

.quick-links a {
    text-decoration: none;
    color: #545454;
}

.maroon {
    color: #B53025;
}

.margin-none {
    margin: none!important;
}

.custom-header-3 {
    display: block;
    font-size: 1.17em;
    margin : none;
    font-weight: bold;
}

.custom-header-2 {
    display: block;
    font-size: 2.5em;
    margin : 0.67em 0em 0em 0em;
    font-weight: bold;
}

.margin-20 {
    margin: 20px 0px;
}

.font-large {
    font-size: 120%;
}

